.button {
    cursor: pointer;
    border: none;
    padding: 12px 14px;
    border-radius: 44px;
    display: flex;
    gap: 10;
    align-items: center;
    font-weight: 600;
    font-size: 16;
    font-family: "Fixel Text", sans-serif;
    width: 100%;
    transition: all 0.1s ease-in-out;
}

.button:focus {
    outline: 2px solid #004F89;
    outline-offset: 2px;
    box-shadow: 0 0 8px rgba(0, 79, 137, 0.5);
}

.button:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}

.primary {
    background-color: #004F89;
    color: white;
}

.secondary {
    background-color: transparent;
    color: #004F89;
}


.centered {
    display: flex;
    justify-content: center;
}

.disabled {
    color: #00000040;
    background-color: transparent;
    cursor: not-allowed;
}

.primary.disabled {
    background-color: #004F89;
    color: white;
    filter: grayscale(100%);
    opacity: 0.5;
}

.border {
    border: 2px solid #9b9b9b;
    color: #5f5f5f;
    background-color: transparent;
    width: fit-content;
}

.shadow {
    box-shadow: 0px 4px 9.6px 0px rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
    .primary {
        background-color: #FFFFFF;
        color: black;
    }

    .secondary {
        background-color: transparent;
        color: white;
    }

    .button:focus {
        outline: 2px solid rgb(255, 255, 255);
        outline-offset: 2px;
        box-shadow: 0 0 8px rgba(0, 79, 137, 0.5);
    }

    .border {
        color: #a9a9a9;
    }
}

.loadingSpinner {
    text-align: center;
    justify-content: center;
    transform-origin: center;
    height: 24px;
    width: 24px;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
