.button {
    cursor: pointer;
    border: none;
    padding: 12px 14px;
    border-radius: 44px;
    display: flex;
    gap: 10;
    align-items: center;
    font-weight: 600;
    font-size: 16;
    font-family: "Fixel Text", sans-serif;
    width: 100%;
    transition: all 0.1s ease-in-out;
}

.button:focus {
    outline: 2px solid #004F89;
    outline-offset: 2px;
    box-shadow: 0 0 8px rgba(0, 79, 137, 0.5);
}

.button:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}

.primary {
    background-color: #004F89;
    color: white;
}

.secondary {
    background-color: transparent;
    color: #004F89;
}


.centered {
    display: flex;
    justify-content: center;
}

.disabled {
    color: #00000040;
    background-color: transparent;
    cursor: not-allowed;
}

.primary.disabled {
    background-color: #004F89;
    color: white;
    filter: grayscale(100%);
    opacity: 0.5;
}

.shadow {
    box-shadow: 0px 4px 9.6px 0px rgba(0, 0, 0, 0.25);
}