.title {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #004F89;
    font-family: "Fixel Text";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.subtitle {
    color: #000;
    font-family: "Fixel Text";
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.55;
}

.datasContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 5px;
    max-width: 80%;
}

@font-face {
    font-family: "Fixel Text";
    src: url("../../../public/fonts/FixelText-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

@keyframes slideOutLeft {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-30%);
      opacity: 0;
    }
}

@keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
}

.slideout {
    pointer-events: none;
    animation: slideOutLeft 0.5s ease-out forwards;
}

.slidein {
    animation: slideInRight 0.5s ease-out 0.15s forwards;
}

.slideout, .slidein {
    z-index: 10;
}

.homework {
    display: inline-flex;
    padding: 16.713px 16.713px 15.193px 16.713px;
    flex-direction: column;
    align-items: center;
    gap: 12.885px;
    border-radius: 21.904px;
    border: 1.288px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
    box-shadow: 0px 1.933px 7.731px 0px rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    width: fit-content;
    font-family: "Fixel Text";
    font-size: 21.904px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 21.904px */
}

@media (prefers-color-scheme: dark) {
    .title {
        color: #FFF;
    }
    
    .subtitle {
        color: #FFF
    }

    .homework {
        color: white;
        background-color: #121212;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
}

.container {
    position: relative;
    width: 52%;
    height: 55%;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        height: 100%;
    }

    .datasContainer {
        display: none;
    }

    .title {
        font-size: 20px;
    }
    
    .exportedDataText {
        display: none;
    }
}

