.title {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #004F89;
    font-family: "Fixel Text";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.subtitle {
    align-self: stretch;
    color: #000;
    font-family: "Fixel Text";
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.55;
}

.datasContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 5px;
}

@keyframes slideOutLeft {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-70%);
      opacity: 0;
    }
}

@keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
}

.slideout {
    pointer-events: none;
    animation: slideOutLeft 0.5s ease-out forwards;
}

.slidein {
    animation: slideInRight 0.5s ease-out 0.15s forwards;
}

.slideout, .slidein {
    z-index: 10;
}

@media (prefers-color-scheme: dark) {
    .title {
        color: #FFF;
    }
    
    .subtitle {
        color: #FFF
    }
}

.container {
    position: relative;
    width: 52%;
    height: 55%;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        height: 100%;
    }

    .datasContainer {
        display: none;
    }

    .title {
        font-size: 20px;
    }
    
    .exportedDataText {
        display: none;
    }
}