.informativeBox {
    display: flex;
    padding: 6px 15px 6px 7px;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
    box-shadow: 0px 1.5px 6px 0px rgba(0, 0, 0, 0.05);
    width: fit-content;
    font-weight: 600;
    font-size: 16;
    font-family: "Fixel Text", sans-serif;
    color: #00000075
}

.iconContainer {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: #EBEBEB;
}

@media (prefers-color-scheme: dark) {
    .informativeBox {
        background-color: #262626;
        color: #a1a1a1;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }

    .iconContainer {
        background: #1b1b1b;
    }
}
