.input {
    display: flex;
    padding: 18px 25px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 17px;
    border: 1px solid #DBDBDB;
    background: #F6F6F6;
    font-family: "Fixel Text", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: black;
}

.input:focus {
    outline: 2px solid #004F89;
    outline-offset: 2px;
    box-shadow: 0 0 8px rgba(0, 79, 137, 0.5);
}

.input:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}

.input[type="file"] {
    border: 2px solid #9b9b9b;
    color: #5f5f5f;
    background-color: transparent;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease;
    width: fit-content;
    opacity: 0;
}

.input[type="file"]::-webkit-file-upload-button {
    display: none;
}

@media (prefers-color-scheme: dark) {
    .input {
        background: #121212;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
}