.sidebar {
    background-color: #F7FCFF;
    min-height: 100svh;
    border-right: 1px solid #CDCDCD;
    display: flex;
    width: fit-content;
    min-width: 300px;
    padding: 25px 15px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}

@media (prefers-color-scheme: dark) {
    .sidebar {
        background-color: #1b1b1b;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
    }
}

.collapsed {
    min-width: 0px;
    align-items: center;
}

.tabsContainer {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 500px) {
    .sidebar {
        flex-direction: row;
        min-height: 0px;
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #CDCDCD;
        padding: 10px 25px;
    }
    .tabsContainer {
        flex-direction: row;
        width: auto;
    }
}
