.page {
  display: flex;
  flex-direction: row;
  transition: margin-left 0.3s ease-in-out;
}

.page.expanded {
  margin-left: 250px;
}

.page.collapsed {
  margin-left: 60px;
}

.content {
  flex: 1;
  padding: 20px;
}

@media (prefers-color-scheme: dark) {
  .page {
      background-color: #000000;
  }
}
