.page {
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease-in-out;
  font-size: 17px;
  color: #fff;
}

.content {
  flex: 1;
  padding: 20px;
}

.sidebar {
  width: 320px;
  flex-shrink: 0;
}

.pages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


@media (prefers-color-scheme: dark) {
  .page {
      background-color: #000000;
  }
}


