.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  min-height: 100svh;
  background-color: #FFFFFF;
  font-family: var(--font-geist-sans);
}

.page .main {
  display: flex;
  flex-direction: row;
  }
